{%  extends 'base/main.html' %}
{% load static %}
{%  block content %}
<section class="contact-section">
    <div class="contact-container">
       
        <form class="contact-form">
            <header class="contact-header"> CONTACT</header>
            <input class="name-field" type="text" placeholder="NAME"> 
            <input class="subject-field" type="text" placeholder="SUBJECT">
            <input class="email-field" type="text" placeholder="E-MAIL">
            <textarea class="message-field" type="text" placeholder="MESSAGE"></textarea>

            <input class="submit-btn" type="submit" value="SEND"> 
        </form>
    </div>

</form>

{%  endblock content %}