<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

    
</head>
<body onload="document.body.style.opacity='1'">
    <div class="wrapper fade-in">
    {% include 'base/navbar.html'%}

    {%  block content %}
    <!--Content gose here-->
    {% endblock content %}
    <div>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up top-icon"></i></button>
    </div>
    <script type="text/javascript">
        let static ="{% static 'css'%}"
        </script>
   <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</div>
</body>
<footer>&copy; Copyright 2021 zoveloper</footer>
</html>