
 <div class="main-nav-wrapper">
        <div class="logo-nav">
            <input id="logo" type="image" src="images/IMG_7572.JPG" >
        </div>
        
            <ul id="main-navigation">   
                <li id="main-nav-1"><a href="#">Work</a></li>
                <li id="main-nav-2"><a href="#">contact</a></li>
                <li id="main-nav-3"><a href="#">about</a></li>
                <li id="main-nav-4"><a href="google.ca"><i class="fa fa-instagram" id="insta" aria-hidden="true"></i></a></li>
                <li id="main-nav-5"><a href="#">contact</a></li>
            </ul>
        
</div> 