{% load static %}

    <nav class="navbar">
        <div class="navbar-wrapper">
        <a href="{% url 'home' %}"><img class="logo" type="image" src="{% static 'images/logo_sample.png'%}" ></a>
        <ul id="mn1" class="main-nav">
            {% if request.user.is_authenticated %}
            <li id="main-nav-6"><a href="{% url 'create_post' %}">Post</a></li>
            {% endif %}   
            <li class="main-nav-item"><a href="{% url 'home' %}">Work</a></li>
            <li class="main-nav-item"><a href="{% url 'contact' %}">Info</a></li>  
            <li><a href="#" ><i class="fab fa-instagram"></i></a></li>
        </ul>
        <a href="#" id="tgb1" class="navbar_toggleBtn"><i class="fas fa-bars"></i></a>
    </div>
    </nav>  

