{%  extends 'base/main.html' %}
{% load static %}
{%  block content %}

<section class="post-detail-section">
    <div class="admin-fuction">            
        {% if request.user.is_staff %}
        <form action="{% url 'update_post' post.id %}" >
            <input class="btn-2"type="submit" value="edit">
         </form>
         <form action="{% url 'delete_post' post.id %}">
            <input class="btn-2"type="submit" value="Delete">
         </form>
        {% endif %}
    </div>
    <div class="post-wrapper">
        <div class="post-img-container">
            <h1 class="post-head">{{post.name|safe}}</h1>
            <div class="post-detail">
                <img class="post-img" src={{post.thumbnail.url}}>
            </div>
            <p>{{post.description|safe}}</p>
        </div>
    </div>
</section>


{%  endblock content %}