{%  extends 'base/main.html' %}
{% load static %}
{%  block content %}


<div>
    <p>hello</p>

    <div class="post-wrapper">
        <div>
            <div class="post-detail">
                <img class="image" src={{post.thumbnail.url}}>
            </div>
            <p>{{post.description|safe}}</p>

            {% if request.user.is_staff %}
                    | <a href="{% url 'update_post' post.id %}">Edit</a>
                    <a href="{% url 'delete_post' post.id %}">Delete</a>
                {% endif %}
        </div>
     
</div>


{%  endblock content %}