{%  extends 'base/main.html' %}
{% load static %}
{%  block content %}

<section class="post-detail-section">
    <div class="admin-fuction">            
        {% if request.user.is_staff %}
        <form action="{% url 'update_post' post.id %}" class="btn-1">
            <button type="submit">EDIT</button>
         </form>
         <form action="{% url 'delete_post' post.id %}" class="btn-2">
            <button type="submit">DELETE</button>
         </form>
        {% endif %}
    </div>
    <p>hello</p>
    <div class="post-wrapper">
        <div>
            <div class="post-detail">
                <img class="image" src={{post.thumbnail.url}}>
            </div>
            <p>{{post.description|safe}}</p>
        </div>
    </div>
</section>


{%  endblock content %}